body{
    background-color: black;
}

#output{
    text-shadow: black 2.5px 2.5px 2.5px; 
    width: 100%; 
    height: 80%;
    font-size: 65px; 
    border-style: none; 
    resize: vertical; 
    color: white;
    background-color: black;
}

#input{
    height: 15%; 
    border-style: none; 
    width: 90%; 
    font-size: 75px; 
    border-radius: 15px; 
    color: white; 
    background: rgba(0, 0, 0, 0);
    outline: none;
    position: absolute;
    bottom: 0;
    text-transform: lowercase;
}